<mat-card>
  <mat-card-content>
    <span class="grocery-name">{{ item.name | groceryName }}</span>
    <span>{{ item.quantity }}</span>
    <button type="button"
            mat-icon-button
            (click)="openEditDialog()">
      <mat-icon aria-hidden="false"
                aria-label="Edit article"
                fontSet="material-symbols-outlined">
        edit
      </mat-icon>
    </button>
    <button type="button"
            mat-icon-button
            (click)="deleteItem()">
      <mat-icon aria-hidden="false"
                aria-label="Delete article"
                color="warn"
                fontSet="material-symbols-outlined">
        delete
      </mat-icon>
    </button>
  </mat-card-content>
</mat-card>
