<form (ngSubmit)="addGroceryItem(); form.resetForm({ quantity: 1 })"
  #form="ngForm">
  <mat-form-field>
    <mat-label>Article</mat-label>
    <mat-select [(ngModel)]="selectedOption"
      name="groceryName"
      required>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let option of options$ | async"
        [value]="option">{{ option | groceryName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input type="number"
      matInput
      name="quantity"
      min="1"
      max="99"
      required
      [(ngModel)]="quantity">
  </mat-form-field>
  <button type="submit"
    [disabled]="form.invalid"
    mat-raised-button
    color="accent">Add to List</button>
</form>
